<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/professor/professorReportCheck.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div>
        <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
        <button class="logout-wrap" onclick="location.href='/logout'"><span class="logout-text">Logout</span><img src="/image/home/handgesture.png" alt="" class="logout-img"></button>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/p/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-profinfo-button" onclick="location.href='/p/info'"><div><img src="/image/home/userIcon.png" alt="" /></div>교수정보</li>
            <li class="portal-attendance-button" onclick="location.href='/Attendance/AttendanceCalendar'"><div><img src="/image/home/courseIcon.png" alt="" /></div>출석부</li>
            <li class="portal-scoring-button" onclick="location.href='/p/score'"><div><img src="/image/home/importIcon.png" alt=""></div>과목채점</li>
            <li class="portal-report-check-button" onclick="location.href='/p/report'"><div><img src="/image/home/importIcon.png" alt=""></div>과제확인</li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="portal-professor-report-check portal-main-frame">
        <h2>과제확인</h2>
        <div class="portal-professor-report-check-wrap">
            <select id="selectSubject">
                <option th:if="${subjectList.isEmpty()}" disabled>=== 과목선택 ===</option>
                <option th:each="subject, loop : ${subjectList}" th:selected="${subjectNo == subject.getNo()}" th:value="${subject.getNo()}" th:text="${subject.getName()}"></option>
            </select>
            <form id="filterForm" th:action="@{/p/report}" method="get">
                <input type="hidden" name="subjectNo" id="subjectNo" th:value="${subjectNo}">
            </form>
            <table>
                <thead>
                <tr>
                    <th>과목명</th>
                    <th>학번</th>
                    <th>이름</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>파일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!reportList.isEmpty()}" th:each="report, loop : ${reportList}">
                    <td th:text="${report.getSubject().getName()}"></td>
                    <td th:text="${report.getStudent().getId()}"></td>
                    <td th:text="${report.getStudent().getName()}"></td>
                    <td th:text="${report.getTitle()}"></td>
                    <td th:text="${#temporals.format(report.getRegDate(), 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <div class="dropdown">
                            <p class="dropbtn">더 보기</p>
                            <div class="dropdown-content">
                                <a th:each="file, loop : ${fileDataMap[report.getNo()]}"
                                   th:href="@{|/p/report/download?no=${report.getNo()}&filename=${file.getEncodeName()}|}"
                                   th:text="${file.getDecodeName()}" th:attr="title=${file.getDecodeName()}"></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- 페이징 시작 -->
            <div class="pagination" th:if="${!reportList.isEmpty()}">
                <a class="prev_btn" href="javascript:void(0)" th:data-page="${reportList.number - 1}" th:if="${reportList.number != 0}"><span>이전</span></a>
                <a class="page_link"
                   href="javascript:void(0)" th:classappend="${page == reportList.number} ? 'on'" th:data-page="${page}" th:each="page: ${#numbers.sequence(startBlock - 1, endBlock - 1)}" th:text="${page+1}"></a>
                <a class="next_btn" href="javascript:void(0)" th:data-page="${reportList.number + 1}" th:if="${reportList.hasNext()}"><span>다음</span></a>
            </div>
            <form id="actionForm" method="get" th:action="@{/p/report}">
                <input type="hidden" id="page" name="page" th:value="${page}">
                <input type="hidden" id="type" name="subjectNo" th:value="${subjectNo}">
            </form>
            <!-- 페이징 끝 -->
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#selectSubject").on('change', function () {
            $("#subjectNo").val($(this).val());
            $("#filterForm").submit();
        })
    })
</script>
<script th:src="@{/js/pagination.js}"></script>
</body>
</html>
