<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordBefore.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div class="portal-logo-name">
        <div>
            <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
        </div>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/p/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-profinfo-button" onclick="location.href='/p/info'"><div><img src="/image/home/userIcon.png" alt="" /></div>교수정보</li>
            <li class="portal-attendance-button" onclick="location.href='/Attendance/AttendanceCalendar'"><div><img src="/image/home/courseIcon.png" alt="" /></div>출석부</li>
            <li class="portal-scoring-button" onclick="location.href='/p/score'"><div><img src="/image/home/importIcon.png" alt=""></div>과목채점</li>
            <li class="portal-report-check-button" onclick="location.href='/p/report'"><div><img src="/image/home/importIcon.png" alt=""></div>과제확인</li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="logined-portal-change-before portal-main-frame">
        <h3>현재 비밀번호를 입력해주세요</h3>
        <div class="password-input-form">
            <form id="checkForm">
                <input type="password" class="password-input" />
                <input type="submit" class="submit-input" />
            </form>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        const csrfToken = $('meta[name="_csrf"]').attr('content');
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $("#checkForm").on('submit', function (e) {
            e.preventDefault();
            const formData = new FormData();
            const password = $(".password-input").val().trim();

            if (password === "" || password == null) {
                alert("비밀번호를 입력해주세요.");
                return false;
            }
            formData.append('password', password);

            $.ajax({
                url: '/p/check/pwd',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (response) {
                    if (response.status) {
                        alert(response.message);
                        location.href = response.redirectUrl;
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            })
        })

        $(".password-input").on('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                $("#checkForm").trigger('submit');
            }
        })
    })
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
