<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/studentCourseChoice.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
<header>
    <h1><img src="" alt="" />수강신청 페이지</h1>
</header>
<div class="course-container">
    <section>
        <ul>
            <li>
                <div class="course-schedule-table-wrap">
                    <table class="course-schedule-table">
                        <thead>
                        <tr>
                            <th>시간</th>
                            <th>월</th>
                            <th>화</th>
                            <th>수</th>
                            <th>목</th>
                            <th>금</th>
                            <th>토</th>
                            <th>일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 시간대별 빈 열 생성 -->
                        <tr>
                            <td>9</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div>
                    <h2>수강신청목록</h2>
                    <div class="course-choose-list-wrap">
                        <table class="course-choose-list">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>과목명</th>
                                <th>전공여부</th>
                                <th>학점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${!sugangList.isEmpty()}" th:each="sugang, loop : ${sugangList}">
                                <td th:text="${sugang.getSubject().getNo()}"></td>
                                <td th:text="${sugang.getSubject().getName()}"></td>
                                <td th:text="${sugang.getSubject().getType()}"></td>
                                <td th:text="${sugang.getSubject().getCredits()}"></td>
                            </tr>
                            <tr th:if="${sugangList.isEmpty()}">
                                <td colspan="4">신청한 리스트가 없거나 신청기간을 확인해 주세요.</td>
                            </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>
                                <h3>신청가능학점</h3>
                                <p>18</p>
                            </li>
                            <li>
                                <h3>신청학점</h3>
                                <p th:text="${totalCredit}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <ul>
            <li class="course-filter">
                <div>
                    <select id="majorTypeSelect">
                        <option value="전체" th:selected="${major == '전체'}">전체</option>
                        <option value="전공" th:selected="${major == '전공'}">전공</option>
                        <option value="교양" th:selected="${major == '교양'}">교양</option>
                    </select>
                    <select id="departmentSelect" disabled>
                        <option value="0">===전공 별 분류===</option>
                        <option th:each="major, loop : ${majorList}" th:value="${major.getId()}" th:text="${major.getName()}"></option>
                    </select>
                </div>
                <button>수강신청</button>
            </li>
            <li class="course-table-wrap">
                <table class="course-table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>과목명</th>
                        <th>수업 요일</th>
                        <th>수업 시간</th>
                        <th>전공여부</th>
                        <th>담당교수</th>
                        <th>학점</th>
                        <th>총원</th>
                        <th>신청인원</th>
                        <th>신청/취소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${!subjectList.isEmpty()}" th:each="subject, loop : ${subjectList}">
                        <td th:text="${subject.getNo()}"></td>
                        <td th:text="${subject.getName()}"></td>
                        <td th:text="${subject.getWeek()}"></td>
                        <td th:text="${subject.getTime()}">09:00~11:00</td>
                        <td th:text="${subject.getType()}">전공</td>
                        <td th:text="${subject.getProfessor().getName()}">김국어</td>
                        <td th:text="${subject.getCredits()}">2</td>
                        <td th:text="${subject.getMaxPersonnel()}">40</td>
                        <td th:text="${subject.getSugangList().size()}"></td>
                        <td>
                            <input type="checkbox" name="" id="" /><button>취소</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <!--페이징부분-->
            </li>
        </ul>
        <form id="filterForm" th:action="@{/s/course}" method="get">
            <input type="hidden" id="major" name="major" th:value="${major}">
            <input type="hidden" id="department" name="department" th:value="${department}">
        </form>
    </section>
</div>
<footer></footer>
<script>
    $(document).ready(function () {
        if($("#major").val() === "전공") {
            $("#departmentSelect").prop("disabled", false);
        } else {
            $("#departmentSelect").prop("disabled", true);
        }

        // 전공 / 교양 리스트 필터링
        $("#majorTypeSelect").on('change', function (){
            $("#major").val($(this).val());
            if ($(this).val() === "전공") {
                $("#departmentSelect").prop("disabled", false);
            } else {
                $("#department").val("");
                $("#filterForm").submit();
            }
        });

        // 전공 리스트 필터링
        $("#departmentSelect").on('change', function (){
            $("#department").val($(this).val());
            $("#filterForm").submit();
        })
    });
</script>
</body>
</html>
