<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/studentReport.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div class="portal-logo-name">
        <img src="" alt="" />
        <h1>포털시스템</h1>
    </div>
    <div class="user-alarm">
        <div class="user-photo"></div>
        <p class="portal-user-name" th:text="${student.getName()}"></p>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/s/home'"><img src="" alt="" />홈</li>
            <li class="portal-student-info-button" onclick="location.href='/s/info'">
                <img src="" alt="" />인적정보
            </li>
            <li class="portal-student-score-button" onclick="location.href='/s/score'">
                <img src="" alt="" />학점확인
            </li>
            <li class="poratl-student-report-button" onclick="location.href='/s/report'">과제제출</li>
            <li class="portal-student-class-button" onclick="location.href=''">
                <img src="" alt="" />수강신청란
            </li>
        </ul>
    </nav>
    <div class="portal-student-report-frame">
        <h2>과제제출</h2>
        <div class="portal-student-report-wrap">
            <form action="">
                <select name="" id="">
                    <option value="">콤퓨터과학</option>
                    <option value="">컴퓨터공학</option>
                    <option value="">컴퓨터구조</option>
                    <option value="">컴활</option>
                </select>
                <input type="text" placeholder="제목을 입력하시오" />
                <input type="file" placeholder="파일첨부" />
                <input type="submit" value="과제제출" />
            </form>
        </div>
    </div>
</section>
</body>
</html>
