<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordAfter.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div class="portal-logo-name">
        <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/s/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-student-info-button" onclick="location.href='/s/info'">
                <div><img src="/image/home/userIcon.png" alt="" /></div>인적정보
            </li>
            <li class="portal-student-score-button" onclick="location.href='/s/score'">
                <div><img src="/image/home/searchIcon.png" alt="" /></div>학점확인
            </li>
            <li class="portal-student-report-button" onclick="location.href='/s/report'"><div><img src="/image/home/reportIcon.png" alt="" /></div>과제제출</li>
            <li class="portal-student-course-button">
                <div><img src="/image/home/courseIcon.png" alt="" /></div>수강신청</li>
            <li class="portal-attendance-button" onclick="location.href='/Attendance/AttendanceCalendarStudent'"><div><img src="/image/home/Attendance.png" alt="" /></div>출석부</li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="logined-portal-change-after portal-main-frame">
        <form action="">
            <ul>
                <li>
                    <h3>새로운 비밀번호 입력</h3>
                    <p id="password-rule">영문 대소문자/숫자/특수문자 중 2가지 이상조합, 8 ~ 16자</p>
                    <input type="password" class="input-password" id="password-input" placeholder="새 비밀번호"/>
                    <p class="error-message" id="password-error-msg">비밀번호 오류 창</p>
                </li>
                <li>
                    <h3>새로운 비밀번호 다시입력</h3>
                    <input type="password" class="input-password" id="check-input" placeholder="비밀번호 확인"/>
                    <p class="error-message" id="check-error-msg">비밀번호 오류 창</p>
                </li>
                <li><input type="submit" class="submit-password" /></li>
            </ul>
        </form>
    </div>
</section>
<script>
    $(document).ready(function () {
        const pwd_error_msg = $("#password-error-msg");
        const check_error_msg = $("#check-error-msg");
        const csrfToken = $('meta[name="_csrf"]').attr('content');
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $("#password-input").on('input', function () {
            const inputVal = $(this).val().trim();

            if(inputVal === "") {
                return false;
            }
            const lengthValid = inputVal.length >= 8 && inputVal.length < 16;
            const pwdRuleCheck = /[!@#$%.*^&+=]/.test(inputVal);
            pwd_error_msg.hide();

            if (!lengthValid || !pwdRuleCheck) {
                pwd_error_msg.css('color', 'red');
                if (!lengthValid) {
                    pwd_error_msg.empty().text("8자리 이상 16자리 미만으로 설정하세요.").show();
                } else {
                    pwd_error_msg.empty().text("특수문자를 하나 이상 포함해야 합니다.").show();
                }
                return false;
            } else {
                pwd_error_msg.empty().text("유효한 비밀번호 입니다.").css('color', 'green').show();
                return true;
            }
        })

        $("#check-input").on('input', function () {
            check_error_msg.hide();
            const password = $("#password-input").val().trim();
            const check_password = $("#check-input").val().trim();

            if(password !== check_password) {
                check_error_msg.css('color', 'red');
                check_error_msg.empty().text("비밀번호가 일치하지 않습니다.").show();
                return false;
            } else {
                check_error_msg.empty().text("비밀번호가 일치합니다.").css('color', 'green').show();
                return true;
            }
        })

        $(".submit-password").on('click', function (e) {
            const password = $("#password-input").val().trim();
            const checkPassword = $("#check-input").val().trim();

            if (password === "" || checkPassword === "") {
                alert("비밀번호를 입력하세요.");
                e.preventDefault();
                return false;
            }

            if ($("#password-error-msg").text() !== "유효한 비밀번호 입니다.") {
                alert("비밀번호가 올바르지 않습니다.");
                e.preventDefault();
                return false;
            }

            if ($("#check-error-msg").text() !== "비밀번호가 일치합니다.") {
                alert("비밀번호가 일치하지 않습니다.");
                e.preventDefault();
                return false;
            }

            const formData = new FormData();
            formData.append('password', password);

            $.ajax({
                url: '/s/modify/pwd',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (response) {
                    if (response.status) {
                        alert(response.message);
                        location.href = response.redirectUrl;
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            })
        })
    })
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
