<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/studentInfo.css}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div>
        <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
        <button class="logout-wrap" onclick="location.href='/logout'"><span class="logout-text">Logout</span><img src="/image/home/handgesture.png" alt="" class="logout-img"></button>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/s/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-student-info-button" onclick="location.href='/s/info'">
                <div><img src="/image/home/userIcon.png" alt="" /></div>인적정보
            </li>
            <li class="portal-student-score-button" onclick="location.href='/s/score'">
                <div><img src="/image/home/searchIcon.png" alt="" /></div>학점확인
            </li>
            <li class="portal-student-report-button" onclick="location.href='/s/report'"><div><img src="/image/home/reportIcon.png" alt="" /></div>과제제출</li>
            <li class="portal-student-course-button">
                <div><img src="/image/home/courseIcon.png" alt="" /></div>수강신청</li>
            <li class="portal-attendance-button" onclick="location.href='/Attendance/AttendanceCalendarStudent'"><div><img src="/image/home/Attendance.png" alt="" /></div>출석부</li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="portal-student-info portal-main-frame">
        <h2>학적사항</h2>
        <div class="portal-student-info-basic">
            <div class="portal-student-pic">
                <img th:src="@{${student.getProfile()}}" alt="1111" />
            </div>
            <table>
                <!-- 첫 번째 행 -->
                <tr>
                    <th>학번</th>
                    <td th:text="${student.getId()}"></td>
                    <th>성명</th>
                    <td th:text="${student.getName()}"></td>
                    <th>학년/성적이수</th>
                    <td>2학년/4학기이수</td>
                </tr>
                <!-- 두 번째 행 -->
                <tr>
                    <th>대학</th>
                    <td>공과대학</td>
                    <th>학과</th>
                    <td th:text="${student.getMajor().getName()}"></td>
                    <th>전공</th>
                    <td></td>
                </tr>
                <!-- 세 번째 행 -->
                <tr>
                    <th>전공구분</th>
                    <td>전공심화</td>
                    <th>제1복수전공</th>
                    <td></td>
                    <th>제2복수전공</th>
                    <td></td>
                </tr>
                <!-- 네 번째 행 -->
                <tr>
                    <th>부전공</th>
                    <td></td>
                    <th>마이크로디그리</th>
                    <td></td>
                    <th>현재학적</th>
                    <td th:text="${student.getStatus()}"></td>
                </tr>
                <!-- 다섯 번째 행 -->
                <tr>
                    <th>성별</th>
                    <td>남자</td>
                    <th>입학구분</th>
                    <td>신입학</td>
                    <th>과정구분</th>
                    <td>일반과정</td>
                </tr>
                <!-- 여섯 번째 행 -->
                <tr>
                    <th>최종학적변동</th>
                    <td>군제대복학</td>
                    <th>최종학적변동일</th>
                    <td>20220214</td>
                    <th></th>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="portal-student-info-specific-frame">
            <ul class="portal-student-info-specific-controller">
                <li class="info-frame-button" onclick="showFrame(0, this)">기본</li>
                <li class="address-frame-button" onclick="showFrame(1, this)">
                    주소
                </li>
                <li class="take-semester-frame-button" onclick="showFrame(2, this)">
                    학적변동
                </li>
            </ul>
            <ul class="portal-student-info-specific">
                <li class="info-frame">
                    <h3>학적 기본 사항</h3>
                    <table>
                        <tr>
                            <th>성명</th>
                            <td>길오성</td>
                            <th>성명(영문)</th>
                            <td>gil oseong</td>
                            <th>생년월일</th>
                            <td>2077-07-07</td>
                        </tr>
                        <tr>
                            <th>휴학사용학기</th>
                            <td>0</td>
                            <th>휴학가능학기</th>
                            <td>2</td>
                            <th>복학예정일</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>전자우편주소</th>
                            <td>amolang@and.com</td>
                            <th>지도교수</th>
                            <td>콘코드교수</td>
                        </tr>
                    </table>
                    <h3>계좌정보</h3>
                    <ul>
                        <li>
                            <p>은행</p>
                            <select name="" id="">
                                <option value="">카카오뱅크</option>
                                <option value="">농협</option>
                                <option value="">하나은행</option>
                                <option value="">국민은행</option>
                                <option value="">기업은행</option>
                            </select>
                        </li>
                        <li>
                            <p>계좌번호</p>
                            <input type="text" value="77717171717" />
                        </li>
                        <li>
                            <p>예금주</p>
                            <input type="text" value="길오성" />
                        </li>
                        <li>
                            <p>관계</p>
                            <select name="" id="">
                                <option value="">부</option>
                                <option value="">모</option>
                                <option value="">본인</option>
                            </select>
                        </li>
                        <li></li>
                    </ul>
                    <button>등록하기</button>
                </li>
                <li class="address-frame">
                    <ul>
                        <li><h3>주소 확인란</h3></li>
                        <li>
                            <h4>현재 주소</h4>
                            <p>서울특별시 강남구 테헤란로 41길</p>
                        </li>
                        <li><h3>주소 변경란</h3></li>
                        <li>
                            <input type="text" id="zip-code" placeholder="우편번호" />
                            <input type="text" id="address-1" placeholder="도로명" />
                            <input type="text" placeholder="상세정보 입력하기" />
                            <button onclick="execDaumPostcode()">우편번호찾기</button>
                        </li>
                        <li><button>등록하기</button></li>
                    </ul>
                </li>
                <li class="take-semester-frame"></li>
            </ul>
        </div>
    </div>
</section>
<script>
    function showFrame(index, clickedButton) {
        const frames = document.querySelectorAll(
          ".portal-student-info-specific > li"
        );

        frames.forEach((frame, i) => {
          frame.style.display = i === index ? "block" : "none";
        });

        // 버튼 스타일 변경
        const buttons = document.querySelectorAll(
          ".portal-student-info-specific-controller > li"
        );
        buttons.forEach((button) => button.classList.remove("active"));
        clickedButton.classList.add("active");
      }
      function execDaumPostcode() {
        new daum.Postcode({
          oncomplete: function (data) {
            document.getElementById("zip-code").value = data.zonecode;
            document.getElementById("address-1").value = data.address;
          },
        }).open();
      }
      // 초기 설정: 첫 번째 프레임만 표시하고 첫 번째 버튼 활성화
      document.addEventListener("DOMContentLoaded", () => {
        const firstButton = document.querySelector(
          ".portal-student-info-specific-controller > li"
        );
        firstButton.classList.add("active"); // 첫 번째 버튼에 기본 색상 적용
        showFrame(0, firstButton);
      });
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
