<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/studentReport.css}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div>
        <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
        <button class="logout-wrap" onclick="location.href='/logout'"><span class="logout-text">Logout</span><img src="/image/home/handgesture.png" alt="" class="logout-img"></button>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/s/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-student-info-button" onclick="location.href='/s/info'">
                <div><img src="/image/home/userIcon.png" alt="" /></div>인적정보
            </li>
            <li class="portal-student-score-button" onclick="location.href='/s/score'">
                <div><img src="/image/home/searchIcon.png" alt="" /></div>학점확인
            </li>
            <li class="portal-student-report-button" onclick="location.href='/s/report'"><div><img src="/image/home/reportIcon.png" alt="" /></div>과제제출</li>
            <li class="portal-student-course-button">
                <div><img src="/image/home/courseIcon.png" alt="" /></div>수강신청</li>
            <li class="portal-attendance-button" onclick="location.href='/Attendance/AttendanceCalendarStudent'"><div><img src="/image/home/Attendance.png" alt="" /></div>출석부</li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="portal-student-report-frame">
        <h2>과제제출</h2>
        <div class="portal-student-report-wrap">
            <form id="reportForm" enctype="multipart/form-data">
                <select id="subjectSelect" name="selectNo">
                    <option value="" disabled>=== 과목선택 ===</option>
                    <option th:each="sugang, loop : ${sugangList}" th:value="${sugang.getSubject().getNo()}" th:text="${sugang.getSubject().getName()}"></option>
                </select>
                <input type="text" name="title" placeholder="제목을 입력하세요." />
                <input type="file" id="files" name="files" placeholder="파일첨부" multiple/>
                <input type="button" id="report-submit-btn" value="과제제출" />
            </form>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        const csrfToken = $('meta[name="_csrf"]').attr('content');
        const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

        $("#report-submit-btn").on('click', function () {
            const fileInput = $("#files")[0].files;
            const formData = new FormData();

            formData.append('title', $("input[name='title']").val());
            formData.append('selectNo', $("select[name='selectNo']").val());

            if (fileInput.length === 0) {
                alert("파일을 첨부해주세요.");
                return;
            }
            for(let i = 0; i < fileInput.length; i++) {
                const file = fileInput[i];
                if(file.size === 0) {
                    alert("빈 파일은 첨부할 수 없습니다.");
                    return;
                }
                formData.append('files', file);
            }
            $.ajax({
                type: 'POST',
                url: '/s/report/insert',
                processData: false,     // FormData 를 전송하기 위한 사전설정
                contentType: false,     // FormData에 의해 ContentType 자동 설정
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (response) {
                    if (response.status === "success") {
                        alert(response.message);
                        location.href = response.redirectUrl;
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        })
    })
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
