<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/studentReport.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div class="portal-logo-name">
        <img src="" alt="" />
        <h1>포털시스템</h1>
    </div>
    <div class="user-alarm">
        <div class="user-photo"></div>
        <p class="portal-user-name">길오성님</p>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button"><img src="" alt="" />홈</li>
            <li class="portal-student-info-button">
                <img src="" alt="" />인적정보
            </li>
            <li class="portal-student-score-button">
                <img src="" alt="" />학점확인
            </li>
            <li class="portal-student-report-button">과제제출</li>
            <li class="portal-student-class-button">
                <img src="" alt="" />수강신청란
            </li>
        </ul>
    </nav>
    <div class="portal-student-report-frame">
        <h2>과제제출</h2>
        <div>
            <input type="text" />
            <select name="" id="">
                <option value="">콤퓨터과학</option>
                <option value="">컴퓨터공학</option>
                <option value="">컴퓨터구조</option>
                <option value="">컴활</option>
            </select>
        </div>
        <textarea name="" id=""></textarea>
        <input type="submit" value="과제제출" />
    </div>
</section>
</body>
</html>
