.portal-professor-report-check {
    border-left: 1px solid #d1d9e6;
    width: 100%;
}
.portal-professor-report-check h2 {
    padding: 2%;
    margin-bottom: 5px;
}
.portal-professor-report-check-wrap {
    width: 80%;
    margin: 0 auto;
}
.portal-professor-report-check-wrap table {
    width: 100%;
    text-align: center;
    border: 1px solid #888;
    margin-top: 50px;
    border-collapse: collapse;
}
.portal-professor-report-check-wrap table th,
.portal-professor-report-check-wrap table td {
    border: 1px solid #888;
    height: 30px;
    line-height: 30px;
}
