
.portal-professor-score {
    border-left: 1px solid #ececec;
    width: 100%;
}
.portal-professor-score h2 {
    padding: 2%;
    margin-bottom: 5px;
}
.portal-professor-score-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.portal-professor-score-wrap {
    width: 80%;
    margin: 0 auto;
}
.portal-professor-score-wrap table {
    width: 100%;
    text-align: center;
    border: 1px solid #888;
    margin-top: 50px;
    border-collapse: collapse;
}
.portal-professor-score-wrap table th,
.portal-professor-score-wrap table td {
    border: 1px solid #888;
    height: 30px;
    line-height: 30px;
}
