body {
    width: 100%;
    overflow: hidden;
}
header {
    width: 100%;
    padding: 1%;
    height: 60px;
    background: purple;
    display: flex;
    justify-content: space-between;
}
.portal-logo-name {
    display: flex;
}
.portal-logo-name img {
    width: 100px;
}
.portal-logo-name h1 {
    font-size: 25px;
}
.portal-main {
    display: flex;
}
.portal-nav {
    width: 340px;
}
.portal-nav ul {
    width: 100%;
    height: 1020px;
}
.portal-nav > ul > li {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ececec;
    line-height: 50px;
    padding-left: 20px;
}
.portal-professor-report-check {
    border-left: 1px solid #ececec;
    width: 100%;
}
.portal-professor-report-check h2 {
    padding: 2%;
    margin-bottom: 5px;
}
.portal-professor-report-check-wrap {
    width: 80%;
    margin: 0 auto;
}
.portal-professor-report-check-wrap table {
    width: 100%;
    text-align: center;
    border: 1px solid #888;
    margin-top: 50px;
    border-collapse: collapse;
}
.portal-professor-report-check-wrap table th,
.portal-professor-report-check-wrap table td {
    border: 1px solid #888;
    height: 30px;
    line-height: 30px;
}
