
.portal-professor-score {
    border-left: 1px solid #d1d9e6;
    width: 100%;
}
.portal-professor-score h2 {
    padding: 2%;
    margin-bottom: 5px;
}
.portal-professor-score-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.portal-professor-score-wrap {
    width: 80%;
    margin: 0 auto;
}
#submitBtn{
width: 120px;
height: 35px;
background: orange;
border: none;
color: white;
font-size: 16px;
font-weight: bold;

     }
.portal-professor-score-wrap table {
    width: 100%;
    text-align: center;
    border: 1px solid #e6e6e6;
    margin-top: 50px;
    border-collapse: collapse;
}
.portal-professor-score-wrap table th{
  background-color: #3f94f5;
  color: white;
  font-weight: bold;
  border:none;
}
.portal-professor-score-wrap table td{
border-bottom:1px solid #e6e6e6;
}
.portal-professor-score-wrap table th,
.portal-professor-score-wrap table td {
    height: 40px;
    line-height: 40px;
}
.pagination {
    width: 13%;
    margin: 100px auto 0;
}
.pagination a {
    border: 1px solid;
    color: black;
}
.pagination a.on{
    background-color: black;
    color: #fff;
}
