header {
    width: 100%;
    height: 60px;
}
.course-container {
    width: 100%;
    display: flex;
    padding: 1.5%;
}
.course-container section:nth-of-type(1) {
    width: 30%;
    border: 1px solid red;
}
.course-container section:nth-of-type(2) {
    width: 70%;
    padding: 1%;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th,
td {
    border: 1px solid;
}
.course-schedule-table th:nth-of-type(1) {
    width: 9%;
}
.course-schedule-table th {
    width: 13%;
}
.course-schedule-table td {
    height: 40px;
}
footer {
    width: 100%;
    height: 100px;
}
section:nth-of-type(1) > ul > li:nth-of-type(1) {
    margin-bottom: 50px;
}
section:nth-of-type(1) > ul > li:nth-of-type(2) h2 {
    margin-bottom: 30px;
}
.course-choose-list-wrap ul {
    margin-top: 20px;
    display: flex;
}
.course-choose-list-wrap ul li {
    display: flex;
    width: 50%;
    padding: 1%;
    height: 35px;
}
.course-choose-list-wrap ul li h3 {
    margin-right: 20px;
    line-height: 23px;
}
.course-choose-list-wrap ul li p {
    width: 30px;
    text-align: center;
    border: 1px solid;
}
.course-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.course-filter select {
    height: 40px;
    width: 150px;
    text-align: center;
}
.course-filter button {
    width: 120px;
}
.select-all-section {
    text-align: right;
}
.course-table th {
    height: 40px;
}
.course-table tbody tr td {
    height: 26px;
}
.course-table tbody tr td:last-of-type input {
    margin-right: 20px;
}
.course-table tbody tr td button {
    height: 26px;
}
