body {
    width: 100%;
    overflow: hidden;
}
header {
    width: 100%;
    padding: 1%;
    height: 60px;
    background: purple;
    display: flex;
    justify-content: space-between;
}
.portal-logo-name {
    display: flex;
}
.portal-logo-name img {
    width: 100px;
}
.portal-logo-name h1 {
    font-size: 25px;
}
.portal-main {
    display: flex;
}
.portal-nav {
    width: 340px;
}
.portal-nav ul {
    width: 100%;
    height: 1020px;
}
.portal-nav > ul > li {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ececec;
    line-height: 50px;
    padding-left: 20px;
}