
.portal-student-report-frame {
    width: 100%;
    border-left: 1px solid #d1d9e6;
}
.portal-student-report-frame h2 {
    padding: 2%;
    margin-bottom: 5px;
}
.portal-student-report-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.portal-student-report-wrap form {
    display: flex;
    flex-direction: column;
}
.portal-student-report-wrap form input:nth-of-type(1) {
    height: 30px;
}
.portal-student-report-wrap form input:nth-of-type(2) {
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.portal-student-report-wrap form input:nth-of-type(3) {
    width: 100px;
}
