.portal-home {
  width: 100%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  border-left: #d1d9e6 1px solid;
}
.portal-home h2 {
  height: 62px;
  line-height: 31px;
  padding: 3%;
  margin-bottom: 5px;
}

.portal-user-login-etc {
  width: 380px;
  height: 350px;
  border: 1px solid #d1d9e6;
}
.portal-user-login-etc > div {
  text-align: center;
  background: #0057b7;
  border-bottom: 1px solid #d1d9e6;
  color: white;
  height: 80px;
}
.portal-user-login-etc > div p {
  border-bottom: 1px solid #d1d9e6;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}
.portal-user-login-etc div ul {
  display: flex;
  width: 240px;
  margin: 0 auto;
  line-height: 40px;
}
.portal-user-login-etc div ul li:nth-of-type(2) {
  margin: 0 20px;
}
/*웹메일 쪽지 부서게시판 부분*/
.portal-user-login-etc > ul:nth-of-type(1) {
  display: flex;
  width: 320px;
  margin: 0 auto;
}
.portal-user-login-etc > ul:nth-of-type(1) > li {
  width: 120px;
  height: 120px;
  text-align: center;
}
.portal-user-login-etc > ul:nth-of-type(1) > li:nth-of-type(2) {
  margin: 0 auto;
}
.portal-user-login-etc > ul:nth-of-type(2) {
  width: 100%;
  border-top: 1px solid #d1d9e6;
  padding: 3%;
}
.portal-user-login-etc > ul:nth-of-type(2) li {
  display: flex;
  margin-bottom: 10px;
}
.portal-user-login-etc > ul:nth-of-type(2) li p {
  margin-right: 10px;
}
.portal-user-login-etc > ul:nth-of-type(2) li:nth-of-type(3) {
  width: 240px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;
}
.portal-user-login-etc > ul:nth-of-type(2) li:nth-of-type(3) button {
  width: 110px;
  height: 35px;
}
.portal-user-login-etc
  > ul:nth-of-type(2)
  li:nth-of-type(3)
  button:nth-of-type(1) {
  background: skyblue;
  border: none;
}
.portal-user-login-etc
  > ul:nth-of-type(2)
  li:nth-of-type(3)
  button:nth-of-type(2) {
  background: white;
  border: 1px solid #d1d9e6;
  box-shadow: 2px #d1d9e6;
}
.portal-user-login-etc > ul:nth-of-type(1) > li > ul > li:nth-of-type(1) {
  margin-top: 10px;
}
.portal-user-login-etc > ul:nth-of-type(1) > li > ul > li img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
/*.portal-user-login-etc css끝*/
.portal-college-schedule h2 {
  padding-top: 20px;
  margin-bottom: 20px;
}
.portal-college-schedule {
  width: 380px;
  height: 350px;
  border: 1px solid #d1d9e6;
  margin: 0 60px;
}
.portal-college-schedule > ul > li:nth-of-type(1) {
  display: flex;
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.portal-college-schedule-control-date {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.portal-college-schedule button {
  width: 40px;
  height: 50px;
  border: none;
  background: white;
}
.portal-college-schedule button:nth-of-type(1) {
  padding-left: 10px;
}
.portal-college-schedule img {
  width: 30px;
  height: 50px;
}
/*학사 일정 컨트롤러 날짜*/
.portal-college-schedule > ul > li:nth-of-type(1) p {
  width: 220px;
  padding-left: 20px;
}
.portal-college-schedule li ul {
  width: 300px;
  margin: 0 auto;
}
.portal-college-schedule li ul li {
  margin-bottom: 10px;
}
/*일정 날짜*/
.portal-college-schedule li ul li p:nth-of-type(1) {
  color: aqua;
}
/*학사 일정 끝*/
.portal-user-main-info {
  width: 600px;
  height: 350px;
  border: 1px solid #d1d9e6;
}
.portal-user-main-info > ul {
  width: 540px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.portal-user-main-info > ul > li {
  width: 130px;
  height: 130px;
  border: 1px solid #d1d9e6;
  text-align: center;
}
.portal-user-main-info > ul > li:nth-of-type(1) {
  margin-bottom: 10px;
}
.portal-user-main-info > ul > li > ul > li:nth-of-type(1) {
  margin-top: 5px;
}
.portal-user-main-info > ul > li > ul > li img {
  width: 60px;
}
.portal-user-main-info > ul > li:nth-of-type(1) > ul li:nth-of-type(3) {
  display: flex;
  justify-content: center;
}
.portal-user-main-info > ul > li:nth-of-type(2),
.portal-user-main-info > ul > li:nth-of-type(5) {
  margin: 0 40px;
}
.portal-user-main-info > ul > li:nth-of-type(1),
.portal-user-main-info > ul > li:nth-of-type(4) {
  margin-left: 35px;
}
/*portal-user-main-info 끝*/
.portal-college-news {
  width: 820px;
  height: 400px;
  border: 1px solid #d1d9e6;
  margin-right: 60px;
  margin-bottom: 80px;
}
.portal-college-news-controller {
  display: flex;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}
/* 움직이는 줄 스타일 */
.active-line {
  position: absolute;
  bottom: 200;
  height: 2px;
  width: 0;
  background-color: #007bff;
  box-shadow: 0px 0px 3px 0px blue;
  transition: all 0.3s ease;
}
.portal-college-news-controller li {
  text-align: center;
  width: 140px;
  height: 45px;
}
.portal-college-news-controller li:nth-of-type(2) {
  border-left: 1px solid #d1d9e6;
  border-right: 1px solid #d1d9e6;
}
.portal-college-news-controller li:nth-of-type(4) {
  border-left: 1px solid #d1d9e6;
  border-right: 1px solid #d1d9e6;
}
.portal-college-news-frame {
  width: 100%;
  border-top: 1px solid #d1d9e6;
  padding: 3%;
}
.portal-college-news-frame li {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.portal-college-class-page {
  display: none;
}
.portal-college-employee-page {
  display: none;
}
.portal-college-conversation-page {
  display: none;
}
/*portal-college-news끝*/
.portal-callender {
  width: 600px;
  height: 400px;
}
.student-timetable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.student-timetable th,
td {
  border: 1px solid #d1d1d1;
  height: 40px; /* 셀 높이 */
}
.student-timetable td:first-of-type {
  background-color: #e3d4f3;
}
.student-timetable th {
  background-color: #0057b7;
  color: white;
  font-weight: bold;
}
.subject {
  background-color: #e8f1ff;
  color: #333;
  font-size: 14px;
  padding: 5px;
}
/*-------------------------------portal-home-end-----------------------------------------*/
