
.portal-home {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    border-left: #d1d9e6 1px solid;
}
.portal-home h2 {
    padding: 3%;
    margin-bottom: 5px;
}
.portal-user-login-etc {
    width: 380px;
    height: 350px;
    border: 1px solid black;
}
.portal-user-login-etc > div {
  text-align: center;
  background: #0057b7;
  border-bottom: 1px solid #d1d9e6;
  color: white;
  height: 80px;
}
.portal-user-login-etc > div p {
  border-bottom: 1px solid #d1d9e6;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}
.portal-user-login-etc div ul {
  display: flex;
  width: 240px;
  margin: 0 auto;
  line-height: 40px;
}
.portal-user-login-etc div ul li:nth-of-type(2) {
  margin: 0 20px;
}
/*웹메일 쪽지 부서게시판 부분*/
.portal-user-login-etc > ul:nth-of-type(1) {
  display: flex;
  width: 320px;
  margin: 0 auto;
}
.portal-user-login-etc > ul:nth-of-type(1) > li {
  width: 120px;
  height: 120px;
  text-align: center;
}
.portal-user-login-etc > ul:nth-of-type(1) > li:nth-of-type(2) {
  margin: 0 auto;
}
.portal-user-login-etc > ul:nth-of-type(2) {
  width: 100%;
  border-top: 1px solid #d1d9e6;
  padding: 3%;
}
.portal-user-login-etc > ul:nth-of-type(2) li {
  display: flex;
  margin-bottom: 10px;
}
.portal-user-login-etc > ul:nth-of-type(2) li p {
  margin-right: 10px;
}
.portal-user-login-etc > ul:nth-of-type(2) li:nth-of-type(3) {
  width: 240px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;
}
.portal-user-login-etc > ul:nth-of-type(2) li:nth-of-type(3) button {
  width: 110px;
  height: 35px;
}
.portal-user-login-etc
  > ul:nth-of-type(2)
  li:nth-of-type(3)
  button:nth-of-type(1) {
  background: skyblue;
  border: none;
}
.portal-user-login-etc
  > ul:nth-of-type(2)
  li:nth-of-type(3)
  button:nth-of-type(2) {
  background: white;
  border: 1px solid #d1d9e6;
  box-shadow: 2px #d1d9e6;
}
.portal-user-login-etc > ul:nth-of-type(1) > li > ul > li:nth-of-type(1) {
  margin-top: 10px;
}
.portal-user-login-etc > ul:nth-of-type(1) > li > ul > li img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
/*.portal-user-login-etc css끝*/
.portal-college-schedule h2 {
  padding-top: 20px;
  margin-bottom: 20px;
}
.portal-college-schedule {
  width: 380px;
  height: 350px;
  border: 1px solid #d1d9e6;
  margin: 0 60px;
}
.portal-college-schedule > ul > li:nth-of-type(1) {
  display: flex;
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.portal-college-schedule-control-date {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.portal-college-schedule button {
  width: 40px;
  height: 50px;
  border: none;
  background: white;
}
.portal-college-schedule button:nth-of-type(1) {
  padding-left: 10px;
}
.portal-college-schedule img {
  width: 30px;
  height: 50px;
}
/*학사 일정 컨트롤러 날짜*/
.portal-college-schedule > ul > li:nth-of-type(1) p {
  width: 220px;
  padding-left: 20px;
}
.portal-college-schedule li ul {
  width: 300px;
  margin: 0 auto;
}
.portal-college-schedule li ul li {
  margin-bottom: 10px;
}
/*일정 날짜*/
.portal-college-schedule li ul li p:nth-of-type(1) {
  color: aqua;
}
/*portal-college-schdule css 끝*/
.portal-admin-student-check {
    width: 600px;
    height: 350px;
    border: 1px solid black;
}
/**/
.portal-college-news {
    width: 820px;
    height: 400px;
    border: 1px solid black;
    margin-right: 60px;
    margin-bottom: 80px;
}
.portal-college-news-controller {
    display: flex;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
}
/* 움직이는 줄 스타일 */
.active-line {
    position: absolute;
    bottom: 200;
    height: 2px;
    width: 0;
    background-color: #007bff;
    box-shadow: 0px 0px 3px 0px blue;
    transition: all 0.3s ease;
}
.portal-college-news-controller li {
    text-align: center;
    width: 140px;
    height: 45px;
}
.portal-college-news-controller li:nth-of-type(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}
.portal-college-news-controller li:nth-of-type(4) {
    border-left: 1px solid;
    border-right: 1px solid;
}
.portal-college-news-frame {
    width: 100%;
    border-top: 1px solid;
    padding: 3%;
}
.portal-college-news-frame li {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.portal-college-class-page {
    display: none;
}
.portal-college-employee-page {
    display: none;
}
.portal-college-conversation-page {
    display: none;
}
/*portal-college-news끝*/
.portal-admin-paycheck {
    width: 600px;
    height: 400px;
    display: flex;
    border: 1px solid;
    padding-top: 40px;
}
