.portal-admin-notice {
    width: 100%;
    border-left: #ececec 1px solid;
}
.portal-admin-notice-wrap form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.portal-admin-notice-wrap select {
    width: 200px;
}
.portal-admin-notice-wrap input:nth-of-type(2){
    height: 30px;}

.portal-admin-notice-wrap input:nth-of-type(3) {
    height: 30px;
}
.portal-admin-notice-wrap textarea {
    resize: none;
    height: 500px;
}
.portal-admin-notice-wrap input:nth-of-type(4){
    width: 100px;
    height: 30px;
    margin-left: 1204px;
}
#scheduler{
    display:none;
}