.content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;
}
.content-wrap {
    width: 45%;
    height: 800px;
    background: #e5f4ff;
    padding: 1%;
}
.content-wrap h3 {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 20px;
}
.content-wrap h3 img {
    width: 27px;
    height: 27px;
}
.content-wrap h4 {
    width: 80%;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 auto;
    height: 35px;
    display: flex;
    line-height: 35px;
}
.content-wrap h4 img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 20px;
}
.content-wrap div > h4:last-of-type {
    margin-bottom: 20px;
}
.content-wrap div > ul {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    color: #4d4d4d;
}
.content-wrap div > ul > li {
    list-style: decimal;
    margin-bottom: 15px;
}
.content-wrap div > ul > li > ul > li {
    list-style: circle;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.content-wrap div > ul > li > ul > li:first-of-type {
    margin-top: 20px;
}
.content-wrap p {
    width: 80%;
    margin: 0 auto;
}
