.campus-info {
    width: 100%;
}
.campus-specific {
    padding-top: 10px;
    border: 1px solid #999999;
}
.campus-specific > li {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.campus-specific > li > ul {
    display: flex;
    justify-content: space-between;
}
.campus-photo-wrap {
    width: 48%;
    height: 500px;
}
.campus-photo-wrap img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}
.campus-txt-wrap {
    width: 48%;
}
.campus-txt-wrap h3 {
    margin: 20px 0;
    font-size: 20px;
}
.campus-txt-wrap p {
    font-size: 18px;
}
.campus-student-info {
    margin-top: 100px;
}
.campus-student-wrap {
    width: 100%;
    border: 1px solid #999999;
    text-align: center;
}
.campus-student-graph {
    width: 50%;
    margin: 30px auto;
}
.campus-exchange-student-info {
    width: 100%;
    height: 300px;
    border-top: 1px solid #999999;
}
.campus-exchange-student-info h3 {
    width: 160px;
    font-size: 18px;
    margin: 20px 0;
}
.campus-exchange-student-info > ul {
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
}
.campus-exchange-student-info > ul > li > ul {
    margin-top: 30px;
    width: 48%;
}
.campus-exchange-student-info > ul > li > ul > li {
    margin: 0 auto;
}
.campus-exchange-student-info > ul > li > ul > li:nth-of-type(3) {
    margin-left: 55px;
}
.campus-exchange-student-info
> ul
> li:nth-of-type(2)
> ul
> li:nth-of-type(3) {
    margin-left: 60px;
}
.campus-exchange-student-photo-wrap {
    width: 115px;
    height: 115px;
    padding-left: 22px;
}
.campus-exchange-student-photo-wrap img {
    width: 115px;
    height: 115px;
}
.about-international-organizations {
    width: 100%;
    margin-top: 100px;
}
.aio-wrap {
    width: 100%;
    border: 1px solid #999999;
}
.aio-photo-wrap {
    width: 100%;
    height: 450px;
    padding: 3%;
    margin-bottom: 50px;
}
.aio-photo-wrap > img {
    width: 100%;
    height: 450px;
}
.aio-wrap ul {
    padding: 2%;
}
.aio-wrap h3 {
    font-size: 26px;
    margin-bottom: 20px;
}
.aio-wrap p {
    font-size: 20px;
    margin-bottom: 40px;
}
.aio-wrap a {
    display: block;
    margin-bottom: 20px;
    color: #1e90ff;
}
