@media screen and (min-width: 1200px) {
  .profile-intro {
    margin-bottom: 57px;
  }
  .about-profile-photo-quotos {
    width: 100%;
    display: flex;
  }
  .about-profile-photo-wrap {
    width: 40%;
  }
  .about-profile-photo-wrap > img {
    width: 100%;
    height: auto;
  }
  .profile-intro-txt-wrap {
    width: 60%;
    text-align: center;
  }
  .profile-intro-txt-wrap p {
    font-size: 60px;
    padding: 135px 0;
    font-family: "Libre Baskerville", serif;
    color: #191970;
  }
  .introduce-president {
    display: flex;
    justify-content: space-between;
  }
  .introduce-president p {
    width: 47%;
    font-size: 19px;
    color: #4d4d4d;
  }
  .about-biography {
    margin-top: 60px;
  }
  .about-biography h2 {
    color: #0067b3;
    font-size: 28px;
    margin-bottom: 29px;
  }
  .biography-img-wrap {
    width: 100%;
    height: 276px;
    position: relative;
  }
  .biography-img-wrap > img {
    width: 100%;
    height: 276px;
  }
  .biography-img-wrap-innertxt {
    position: absolute;
    top: 35%;
    left: 40%;
  }
  .biography-img-wrap-innertxt p:nth-of-type(1) {
    font-size: 22px;
  }
  .biography-img-wrap-innertxt p:nth-of-type(2) {
    font-size: 40px;
  }
  .about-biography > div:nth-of-type(2) {
    margin-top: 100px;
  }
  .about-biography h3 {
    font-weight: lighter;
    font-size: 21px;
    margin-bottom: 18px;
  }
  .about-biography .txt-wrap {
    margin-bottom: 90px;
  }
  .about-biography .txt-wrap p {
    line-height: 44px;
    font-size: 19px;
  }
  .about-biography .txt-wrap span {
    color: #737373;
    margin-right: 20px;
  }
  .about-biography .txt-wrap p:nth-of-type(1) {
    border-top: 1px solid #4d4d4d;
  }
  .about-biography .txt-wrap p:last-of-type {
    border-bottom: 1px solid #4d4d4d;
  }
}
@media screen and (min-width: 491px) and (max-width: 1199px) {
  .profile-intro {
    margin-bottom: 57px;
  }
  .about-profile-photo-quotos {
    width: 100%;
    display: flex;
  }
  .about-profile-photo-wrap {
    width: 30%;
    display: inline-block;
  }
  .about-profile-photo-wrap > img {
    width: 100%;
    height: auto;
    display: block;
  }
  .profile-intro-txt-wrap {
    width: 60%;
    text-align: center;
    display: none;
  }
  .profile-intro-txt-wrap p {
    font-size: 60px;
    margin: 135px 0;
    font-family: "Libre Baskerville", serif;
    color: #191970;
  }
  .introduce-president {
    display: flex;
    justify-content: space-between;
  }
  .introduce-president p {
    width: 47%;
    font-size: 19px;
    color: #4d4d4d;
  }
  .about-biography {
    margin-top: 60px;
  }
  .about-biography h2 {
    color: #0067b3;
    font-size: 28px;
    margin-bottom: 29px;
  }
  .biography-img-wrap {
    width: 100%;
    height: 276px;
    position: relative;
  }
  .biography-img-wrap > img {
    width: 100%;
    height: 276px;
  }
  .biography-img-wrap-innertxt {
    position: absolute;
    top: 92px;
    left: 30%;
  }
  .biography-img-wrap-innertxt p:nth-of-type(1) {
    font-size: 22px;
  }
  .biography-img-wrap-innertxt p:nth-of-type(2) {
    font-size: 40px;
  }
  .about-biography > div:nth-of-type(2) {
    margin-top: 100px;
  }
  .about-biography h3 {
    font-weight: lighter;
    font-size: 21px;
    margin-bottom: 18px;
  }
  .about-biography .txt-wrap {
    margin-bottom: 90px;
  }
  .about-biography .txt-wrap p {
    line-height: 48px;
    font-size: 19px;
  }
  .about-biography .txt-wrap span {
    color: #737373;
    margin-right: 20px;
  }
  .about-biography .txt-wrap p:nth-of-type(1) {
    border-top: 1px solid #4d4d4d;
  }
  .about-biography .txt-wrap p:last-of-type {
    border-bottom: 1px solid #4d4d4d;
  }
}
@media screen and (max-width: 490px) {
  .profile-intro {
    margin-bottom: 57px;
  }
  .about-profile-photo-quotos {
    width: 100%;
    display: flex;
  }
  .about-profile-photo-wrap {
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  .about-profile-photo-wrap > img {
    width: 100%;
    height: auto;
    display: block;
  }
  .profile-intro-txt-wrap {
    width: 60%;
    text-align: center;
    display: none;
  }
  .profile-intro-txt-wrap p {
    font-size: 60px;
    margin: 135px 0;
    font-family: "Libre Baskerville", serif;
    color: #191970;
  }
  .introduce-president {
    display: flex;
    flex-direction: column;
  }
  .introduce-president p {
    width: 100%;
    font-size: 19px;
    color: #4d4d4d;
  }
  .about-biography {
    margin-top: 60px;
  }
  .about-biography h2 {
    color: #0067b3;
    font-size: 28px;
    margin-bottom: 29px;
  }
  .biography-img-wrap {
    width: 100%;
    height: 200px;
    position: relative;
  }
  .biography-img-wrap > img {
    width: 100%;
    height: 200px;
  }
  .biography-img-wrap-innertxt {
    position: absolute;
    top: 92px;
    left: 30%;
  }
  .biography-img-wrap-innertxt p:nth-of-type(1) {
    font-size: 18px;
  }
  .biography-img-wrap-innertxt p:nth-of-type(2) {
    font-size: 20px;
  }
  .about-biography > div:nth-of-type(2) {
    margin-top: 100px;
  }
  .about-biography h3 {
    font-weight: lighter;
    font-size: 21px;
    margin-bottom: 18px;
  }
  .about-biography .txt-wrap {
    margin-bottom: 90px;
  }
  .about-biography .txt-wrap p {
    line-height: 40px;
    font-size: 18px;
  }
  .about-biography .txt-wrap span {
    color: #737373;
    margin-right: 20px;
  }
  .about-biography .txt-wrap p:nth-of-type(1) {
    border-top: 1px solid #4d4d4d;
  }
  .about-biography .txt-wrap p:last-of-type {
    border-bottom: 1px solid #4d4d4d;
  }
}
