header {
    width: 100%;
    height: 90px;
    padding: 15px 0;
    border-bottom: 1px solid#4d4d4d;
    margin-bottom: 30px;
}
body {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
img {
    background-size: cover;
}

.gnb-wrap {
    width: 60%;
    display: flex;
    margin: 0 auto;
}
.gnb-wrap ul {
    display: flex;
    font-size: 23px;
}
.gnb-wrap ul li {
    width: 130px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.logo-wrap {
    width: 150px;
    height: 460x;
    margin-right: 139px;
}
.logo-wrap img {
    width: 150px;
    height: 60px;
}
.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}
/* 사이드 메뉴 스타일 */
.container-side-menu {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
}

.container-side-menu .menu-item {
    width: 171px; /* 고정된 너비 */
    height: 63px; /* 기본 높이 */
    margin-bottom: 10px;
    transition: height 0.3s ease, margin-bottom 0.3s ease; /* 높이와 margin-bottom 애니메이션 */
    display: block;
}

.container-side-menu .menu-title {
    display: block;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #888;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    height: 100%; /* 메뉴 항목의 전체 높이를 사용 */
    line-height: 43px; /* 텍스트가 중앙에 오도록 설정 */
    transition: background-color 0.3s;
}

.container-side-menu .menu-title:hover {
    background-color: #e0e0e0;
}

/* 서브 메뉴 스타일 */
.container-side-menu .submenu {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 20px;
    display: none; /* 기본적으로 서브 메뉴 숨기기 */
}

.container-side-menu .submenu li {
    margin-bottom: 5px;
}

.container-side-menu .submenu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.container-side-menu .submenu li a:hover {
    text-decoration: underline;
}

/* 클릭 시 활성화된 메뉴의 크기 변경 */
.container-side-menu .active {
    height: 84px; /* 클릭된 메뉴의 높이를 늘림 */
    margin-bottom: 100px; /* 메뉴 항목 간격을 늘려서 다른 메뉴들이 밀리도록 설정 */
}

.container-side-menu .active > .menu-title {
    background-color: #1e90ff;
    color: white;
    font-size: 20px;
    line-height: 63px; /* 텍스트가 높이에 맞게 중앙에 오도록 조정 */
}

/* 서브 메뉴가 보일 때 */
.container-side-menu .active .submenu {
    display: block;
}

.section-wrap {
    width: 100%;
    padding: 1%;
    padding-top: 50px;
    margin-left: 40px;
}
section {
    margin-bottom: 40px;
}
h2 {
    font-size: 35px;
    margin-bottom: 44px;
    font-weight: lighter;
}
section > p {
    color: #333;
    font-size: 19px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    color: white;
    background: #4d4d4d;
}
footer > ul {
    display: flex;
    margin-top: 25px;
    margin-left: 336px;
}
footer > ul li {
    height: 25px;
    font-size: 19px;
    color: #999999;
}
footer > ul li:nth-child(odd) {
    width: 150px;
    text-align: center;
}
.footer-address {
    display: flex;
    margin-top: 29px;
    margin-left: 382px;
    width: 60%;
    justify-content: space-between;
    color: #999999;
}
.footer-address > button {
    background: none;
    color: #999999;
    border: 1px solid #999999;
    width: 140px;
    height: 40px;
    font-size: 19px;
}
