.search-place {
    display: flex;
    height: 48px;
    margin-bottom: 43px;
}
.search-place select {
    width: 18%;
    padding-left: 20px;
}
.search-place input {
    width: 72.8%;
    padding-left: 30px;
}
.search-place button {
    width: 5.2%;
    background: none;
    border: 1px solid #888;
}
.search-place button img {
    width: 100%;
}
.research-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}
.research-list li {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.research-list li:nth-of-type(2),
.research-list li:nth-of-type(5),
.research-list li:nth-of-type(8),
.research-list li:nth-of-type(11) {
    margin: 0 5%;
}
.research-list li > .research-img-wrap {
    width: 100%;
    height: 180px;
}
.research-img-wrap img {
    width: 100%;
    height: 180px;
    background-size: cover;
}
.research-list li > p {
    height: 78px;
    margin: 15px 0;
    font-size: 18px;
}
.research-list li > span {
    height: 30px;
    font-size: 16px;
    color: #737373;
}
.research-list li > small {
    height: 20px;
    font-size: 14px;
    color: #1e90ff;
}
.pagination {
    width: 30%;
    display: flex;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 80px;
    height: 24px;
    justify-content: space-around;
}
.pagination li {
    height: 24px;
}
