.search-place {
    display: flex;
    height: 48px;
    margin-bottom: 43px;
}
.search-place select {
    width: 18%;
    padding-left: 20px;
    font-size: 20px;
}
.search-place input {
    width: 72.8%;
    padding-left: 30px;
}
.search-place button {
    width: 5.2%;
    background: none;
    border: 1px solid #888;
}
.search-place button img {
    width: 100%;
}
.kr-now-list {
    border-top: 2px solid #888;
}
.kr-now-list > li {
    height: 220px;
    border-bottom: 1px solid #888;
}
.kr-now-info {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-top: 40px;
}
.kr-now-img-wrap {
    width: 200px;
    height: 140px;
}
.kr-now-img-wrap img {
    width: 200px;
    height: 140px;
    background-size: cover;
}
.kr-now-info > ul li h3 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 16px;
}
.kr-now-info > ul > li:nth-of-type(2) {
    font-size: 19px;
    height: 96px;
    color: #4d4d4d;
}
.pagination {
    width: 30%;
    display: flex;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 60px;
    height: 24px;
    justify-content: space-around;
}
.pagination li {
    height: 24px;
}
