<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>HitLogin</title>
</head>
<body>
<div class="login-frame">
    <div class="login-page">
        <div class="login-design-dummy"></div>
        <div class="login-box">
            <div class="login-top">
                <div class="login-logo"></div>
                <ul>
                    <li><a href="">아이디 찾기</a></li>
                    <li> | </li>
                    <li><a th:href="@{/check/account}">비밀번호 찾기</a></li>
                </ul>
            </div>
            <div class="login-input-box">
                <form th:action="@{/login}" method="post">
                    <input type="text" placeholder="ID" name="id"/>
                    <input type="password" placeholder="PASSWORD" name="password" />
                    <p>
                        로그인 정보 > ID : 교직원 번호, 초기비밀번호 : 생년월일 6자리
                        INFO > ID : Employee number, Init PW: BirthDay (6 digit)
                    </p>
                    <input type="submit" value="로그인(LOGIN)" />
                    <p>이용 후 반드시 로그아웃 해주세요!</p>
                    <p>Please be sure to log out after use.</p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>