<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/commonElement.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminBoard.css}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portal</title>
</head>
<body>
<header class="portal-head">
    <div>
        <h1><img src="/image/home/HitLogo2.png" alt="" /></h1>
        <button class="logout-wrap" onclick="location.href='/logout'"><span class="logout-text">Logout</span><img src="/image/home/handgesture.png" alt="" class="logout-img"></button>
    </div>
</header>
<section class="portal-main">
    <nav class="portal-nav">
        <ul>
            <li class="portal-home-button" onclick="location.href='/a/home'"><div><img src="/image/home/homeicon.png" alt="" /></div>홈</li>
            <li class="portal-person-add-button" onclick="location.href='/a/person'">
                <div><img src="/image/home/userIcon.png" alt="" /></div>인적정보 관리
            </li>
            <li class="portal-class-open-button" onclick="location.href='/a/major'">
                <div><img src="/image/home/schoolIcon.png" alt=""></div>전공관리
            </li>
            <li class="portal-class-add-button" onclick="location.href='/a/class'"><div><img src="/image/home/importIcon.png" alt=""></div>과목기입</li>
            <li class="portal-notice-add-button" onclick="location.href='/a/board'"><div><img src="/image/home/noticeIcon.png" alt=""></div>게시판</li>
            <li class="portal-student-pay-check-button" onclick="location.href=''">
                <div><img src="/image/home/paymentsIcon.png" alt=""></div>등록금확인
            </li>
            <li class="portal-admin-course-open-button">
                <div><img src="/image/home/courseIcon.png" alt="" /></div>수강신청
            </li>
        </ul>
        <footer>
            <p>© 2024 HITuniv. All rights reserved.</p>
            <p>모든 저작권 권리는 HIT대학교에 있습니다.</p>
        </footer>
    </nav>
    <div class="portal-admin-notice">
        <h2>공지사항 기입</h2>
        <div class="portal-admin-notice-wrap">
            <form th:action="@{/a/insert/board}" method="post">
                <select name="type" id="type-select">
                    <option value="notice">공지사항</option>
                    <option value="edu">학사공지</option>
                    <option value="hire">채용공고</option>
                    <option value="scheduler">학사일정</option>
                    <option value="free">자유계시판</option>
                </select>
                <input type="date" name="date" id="scheduler" />
                <input type="text" placeholder="제목을 입력해주세요" name="title"/>
                <textarea name="content" id="contents"></textarea>
                <input type="submit" value="작성완료" />
            </form>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const typeSelect = document.getElementById("type-select");
        const schedulerInput = document.getElementById("scheduler");
        const contents = document.getElementById("contents");
        typeSelect.addEventListener("change", () => {
            if (typeSelect.value === "scheduler") {
                schedulerInput.style.display = "block";
                contents.style.display ="none";
            } else {
                schedulerInput.style.display = "none";
                contents.style.display ="block";
            }
        });
    });
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
