<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin/adminPersonManage.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Portal</title>
</head>
<body>
<header class="portal-head">
  <div class="portal-logo-name">
    <img src="" alt="" />
    <h1>포털시스템</h1>
  </div>
  <div class="user-alarm">
    <div class="user-photo"></div>
    <p class="portal-user-name" th:text="${admin.getName()}"></p>
  </div>
</header>
<section class="portal-main">
  <nav class="portal-nav">
    <ul>
      <li class="portal-home-button" onclick="location.href='/a/home'"><img src="" alt="" />홈</li>
      <li class="portal-class-open-button" onclick="location.href='/a/major'">
        <img src="" alt="" />전공관리
      </li>
      <li class="portal-person-add-button" onclick="location.href='/a/person'">
        <img src="" alt="" />인적정보 관리
      </li>
      <li class="portal-class-add-button" onclick="location.href='/a/class'"><img src="" alt="" />과목기입</li>
      <li class="portal-student-pay-check-button" onclick="location.href=''">
        <img src="" alt="" />등록금확인
      </li>
      <li class="portal-class-open-button" onclick="location.href=''">
        <img src="" alt="" />수강신청
      </li>
    </ul>
  </nav>
  <div class="portal-person-managing-frame">
    <h2>인적정보 관리</h2>
    <button class="add-person-button" id="openAddModal">인적기입</button>
    <ul>
      <li>
        <select id="department-filter">
          <option value="">=== 학과 ===</option>
          <option th:each="major, loop : ${majorList}" th:value="${major.getId()}" th:text="${major.getName().substring(0, major.getName().length() - 1)}"></option>
        </select>
        <select id="person-type-filter">
          <option value="학생" selected>학부생</option>
          <option value="교수">교수</option>
        </select>
      </li>
      <li>
        <select name="" id="">
          <option value="">이름</option>
          <option value="">학번</option>
          <option value="">사번</option></select
        ><input type="text" /><button>검색</button>
      </li>
    </ul>
    <table class="student-managing-table">
      <thead>
        <tr>
          <th>학과</th>
          <th>학번</th>
          <th>이름</th>
          <th>생년월일</th>
          <th>연락처</th>
          <th>이메일</th>
          <th>이수학점</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="student, loop : ${studentList}">
          <td th:text="${student.getMajor().getName().substring(0, student.getMajor().getName().length() - 1)}"></td>           <!--학과목-->
          <td th:text="${student.getId()}"></td>                                                                                <!--학번-->
          <td th:text="${student.getName()}"></td>                                                                              <!--이름-->
          <td th:text="${student.getBirthday()}"></td>                                                                          <!--생년월일-->
          <td th:text="${student.getPhone()}"></td>                                                                             <!--연락처-->
          <td th:text="${student.getEmail()}"></td>                                                                             <!--이메일-->
          <td>70</td>                                                                                                           <!--학점-->
          <td>재학</td>                                                                                                          <!--상태-->
        </tr>
      </tbody>
    </table>
    <table class="professor-managing-table">
      <thead>
        <tr>
          <th>학과</th>
          <th>사번</th>
          <th>이름</th>
          <th>생년월일</th>
          <th>연락처</th>
          <th>이메일</th>
          <th>직위</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="professor, loop : ${professorList}">
          <td th:text="${professor.getMajor().getName().substring(0, professor.getMajor().getName().length() - 1)}"></td>       <!--학과목-->
          <td th:text="${professor.getId()}"></td>                                                                              <!--사번-->
          <td th:text="${professor.getName()}"></td>                                                                            <!--이름-->
          <td th:text="${professor.getBirthday()}"></td>                                                                        <!--생년월일-->
          <td th:text="${professor.getPhone()}"></td>                                                                           <!--연락처-->
          <td th:text="${professor.getEmail()}"></td>                                                                           <!--이메일-->
          <td th:text="${professor.getROLE()}"></td>                                                                            <!--직위-->
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- 모달 창 -->
<div id="addPersonModal" class="person-add-modal">
  <div class="person-add-modal-content">
    <span class="addPersonclose">&times;</span>
    <h3>인적 정보 기입</h3>
    <select id="personType" onchange="toggleFormFields()">
      <option value="학생">학부생</option>
      <option value="교수">교수</option>
    </select>

    <!-- 학생 폼 -->
    <div id="studentForm">
      <form th:object="${studentInsertForm}" th:action="@{/a/insert/student}" method="post" enctype="multipart/form-data">
        <label for="department">학과:</label>
        <select id="department" th:field="*{major}">
          <option value="" disabled>=== 학과 ===</option>
          <option th:each="major, loop : ${majorList}" th:value="${major.getId()}" th:text="${major.getName().substring(0, major.getName().length() - 1)}"></option>
        </select>

        <label for="studentId">학번:</label>
        <input type="text" id="studentId" placeholder="학번 입력" th:field="*{id}" />

        <label for="studentName">이름:</label>
        <input type="text" id="studentName" placeholder="이름 입력" th:field="*{name}" />

        <label for="birthDate">생년월일:</label>
        <input type="date" id="birthDate" th:field="*{birthday} "/>

        <label for="contact">연락처:</label>
        <input type="text" id="contact" placeholder="연락처 입력" th:field="*{phone}" />

        <label for="email">이메일:</label>
        <input type="email" id="email" placeholder="이메일 입력" th:field="*{email}" />

        <label for="photo">사진:</label>
        <input type="file" id="photo" placeholder="사진 추가" name="photo" accept="image/*"/>
        <input type="submit" value="기입" />
      </form>
    </div>

    <!-- 교수 폼 -->
    <div id="professorForm" style="display: none">
      <form th:object="${professorInsertForm}" th:action="@{/a/insert/professor}" method="post" enctype="multipart/form-data">
        <label for="profDepartment">학과:</label>
        <select id="profDepartment" th:field="*{major}">
          <option value="" disabled>=== 학과 ===</option>
          <option th:each="major, loop : ${majorList}" th:value="${major.getId()}" th:text="${major.getName().substring(0, major.getName().length() - 1)}"></option>
        </select>

        <label for="professorId">사번:</label>
        <input type="text" id="professorId" placeholder="사번 입력" th:field="*{id}" />

        <label for="profName">이름:</label>
        <input type="text" id="profName" placeholder="이름 입력" th:field="*{name}" />

        <label for="profBirthDate">생년월일:</label>
        <input type="date" id="profBirthDate" th:field="*{birthday}" />

        <label for="profContact">연락처:</label>
        <input type="text" id="profContact" placeholder="연락처 입력" th:field="*{phone}" />

        <label for="profEmail">이메일:</label>
        <input type="email" id="profEmail" placeholder="이메일 입력" th:field="*{email}" />

        <label for="photo">사진:</label>
        <input type="file" id="profPhoto" placeholder="사진 추가" name="photo" />

        <label for="position">직위:</label>
        <select id="position" th:field="*{role}">
          <option value="학과장">학과장</option>
          <option value="정교수">정교수</option>
          <option value="부교수">부교수</option>
          <option value="시간강사">시간강사</option>
        </select>
        <input type="submit" value="기입" />
      </form>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    document.querySelector(".professor-managing-table").style.display =
            "none";
  };
  // 학과 및 유형 필터링
  document
          .getElementById("department-filter")
          .addEventListener("change", filterData);
  document
          .getElementById("person-type-filter")
          .addEventListener("change", filterData);

  function filterData() {
    var selectedDepartment =
            document.getElementById("department-filter").selectedOptions[0].text; // 선택된 학과
    var selectedPersonType =
            document.getElementById("person-type-filter").selectedOptions[0].text; // 선택된 유형 (학부생 또는 교수)

    var studentTableRows = document.querySelectorAll(
            ".student-managing-table tbody tr"
    );
    var professorTableRows = document.querySelectorAll(
            ".professor-managing-table tbody tr"
    );

    // 교수 테이블과 학생 테이블의 표시 여부 설정
    if (selectedPersonType === "학부생") {
      document.querySelector(".student-managing-table").style.display = "";
      document.querySelector(".professor-managing-table").style.display =
              "none";
    } else if (selectedPersonType === "교수") {
      document.querySelector(".student-managing-table").style.display =
              "none";
      document.querySelector(".professor-managing-table").style.display =
              "";
    }

    // 학생 테이블 필터링
    studentTableRows.forEach(function (row) {
      var department = row.cells[0].innerText; // 각 행의 학과 이름
      if (
              selectedDepartment === "=== 학과 ===" ||
              selectedDepartment === "" ||
              department === selectedDepartment
      ) {
        row.style.display = ""; // 선택된 학과가 없거나 일치하면 표시
      } else {
        row.style.display = "none"; // 아니면 숨김
      }
    });

    // 교수 테이블 필터링
    professorTableRows.forEach(function (row) {
      var department = row.cells[0].innerText; // 각 행의 학과 이름
      if (
              selectedDepartment === "=== 학과 ===" ||
              selectedDepartment === "" ||
              department === selectedDepartment
      ) {
        row.style.display = ""; // 선택된 학과가 없거나 일치하면 표시
      } else {
        row.style.display = "none"; // 아니면 숨김
      }
    });
  }
  // 모달창
  // 모달 열기 버튼
  var modal = document.getElementById("addPersonModal");
  var btn = document.getElementById("openAddModal");
  var span = document.getElementsByClassName("addPersonclose")[0];

  // 모달 열기
  btn.onclick = function () {
    modal.style.display = "block";
  };

  // 모달 닫기
  span.onclick = function () {
    modal.style.display = "none";
  };

  // 페이지 바깥 클릭 시 모달 닫기
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };

  // 학생/교수 선택에 따른 폼 변경
  function toggleFormFields() {
    var personType = document.getElementById("personType").value;
    if (personType === "학생") {
      document.getElementById("studentForm").style.display = "block";
      document.getElementById("professorForm").style.display = "none";
    } else if (personType === "교수") {
      document.getElementById("studentForm").style.display = "none";
      document.getElementById("professorForm").style.display = "block";
    }
  }
</script>
</body>
</html>
